In [1]:
import pandas as pd
import os

In [2]:
os.chdir('../')

In [3]:
data = pd.read_excel('data/raw/data.xlsx')

In [4]:
data.head()

,Nombre y Apellidos,Fecha ingeso,Fecha egreso,Estadia Hospitalaria,Estado del egreso,Edad,Sexo,Raza,Ventilacion,APP,...,E coli/Klebsiella,Actinectobacter,Enterobacter,enterobacter/proteus,Tipo de cirugia,TIEMPO CIRUGIA INICIAL,EXTRAHOSPITALARIA,NUMERO DE REINTERVENCIONES,NUMERO INTERVENCIONES,Tiempo quirurgico
0,OCP,2021-05-10,2021-05-24,14.0,0.0,53.0,1.0,1.0,1.0,Etilico cronico,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,2.40
1,YSJC,2021-10-06,2021-10-30,24.0,0.0,24.0,2.0,1.0,1.0,SANO,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,2.15
2,MVR,2021-05-25,2021-06-07,13.0,0.0,36.0,2.0,1.0,1.0,SANO,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,3.00
3,ARCC,2021-05-07,2021-05-19,12.0,0.0,58.0,1.0,1.0,2.0,"HTA,DM",...,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,1.0,2.50
4,YCY,2021-09-27,2021-10-21,24.0,0.0,43.0,1.0,1.0,2.0,"HTA, fumador",...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,3.45

In [5]:
data.columns

Index(['Nombre y Apellidos', 'Fecha ingeso ', 'Fecha egreso ',
       'Estadia Hospitalaria', 'Estado del egreso', 'Edad', 'Sexo', 'Raza',
       'Ventilacion', 'APP', 'Sin antecedentes', 'Materna', 'HTA', 'DM', 'CI',
       'AB', 'EPOC', 'LES', 'Epilepsia', 'tiroides',
       'Consumidos de beidas alcolicas', 'Fumador', 'obesidad', 'DX Ingreso',
       'Apendicitis Aguda ', 'Patologias Biliares ', 'Diverticulitis',
       'Perforacion GASTRICA/duodenal', 'Peritonitis urinaria',
       'Pelvis peritonitis', 'Fuga de anastomosis',
       'peritonitis postraumatica', 'Cirugia de control de daño',
       'Cirugia tumoral', 'Abcedadas', 'OIMB', 'Cirugia de traumas',
       'Total de diagnosticos', 'Indice de mannheim', 'Apache al ingreso',
       'Agravantes ', 'Sin agravantes', 'IRA', 'FMO', 'Shock septico', ' ARDS',
       'Shock mixto', 'Disfunciòn Hepàtica', 'CID', 'TEP', 'HDA', 'TVP',
       'OTRAS', 'Valores de Gasometria', 'Trastorno metabòlico',
       'Acidosis metabòlica', 'Trastorno de Sodio', 'Trastornos del Potasio',
       'Trastornos del calcio', 'Antibiotico', 'Germen', 'CONTAMINADAS ',
       'PROTEUS', 'SCN', 'Pseudomona aeruginosa', 'klebsiella pn',
       'klebsiella/proteus', 'klebsiella/pseudomona',
       'klebsiella/Acynetobacter', 'E Coli ', 'Ecoli/enterobacter',
       'Ecoli/Pseudomona', 'E coli/proteus', 'E coli/Klebsiella',
       'Actinectobacter', 'Enterobacter', 'enterobacter/proteus',
       'Tipo de cirugia ', 'TIEMPO CIRUGIA INICIAL ', 'EXTRAHOSPITALARIA ',
       'NUMERO DE REINTERVENCIONES', 'NUMERO INTERVENCIONES',
       'Tiempo quirurgico'],
      dtype='object')

In [6]:
data['Valores de Gasometria'][0]

'PH:7,48/PCO2:31,7/PO2:-/SB:23.7/EB:1,2/NA:135/K:2.7/CA:0,62'

In [7]:
data['Valores de Gasometria'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 96 entries, 0 to 95
Series name: Valores de Gasometria
Non-Null Count  Dtype
--------------  -----
95 non-null     object
dtypes: object(1)
memory usage: 900.0+ bytes

In [8]:
data.drop(index=95, axis=0, inplace=True)

In [9]:
parameters = ['PH', 'PCO2', 'PO2', 'SB', 'EB', 'NA', 'K', 'CA']

for _, parameter in enumerate(parameters):
    data[parameter] = data['Valores de Gasometria'].apply(lambda x: x.split('/')[_]).apply(lambda x: x.replace(parameter, '')).apply(lambda x: x.replace(':', '')).apply(lambda x: x.replace(',', '.'))

In [10]:
data[parameters]

      PH  PCO2   PO2    SB     EB     NA       K    CA
0   7.48  31.7     -  23.7    1.2    135     2.7  0.62
1   7.36  38.3   124    25   -1.2    138    3.04  0.97
2   7.16  43.7    92  15.7   -9.1    132     2.7  0.62
3   7.12  50.1    82  12.5  -15.6    129     2.2  0.96
4   7.25  48.7  86.6  19.9   -6.7    132     3.4  0.99
..   ...   ...   ...   ...    ...    ...     ...   ...
90  7.22    41  79.1  22.1   -4.9    137  .73.33  0.89
91  7.26  41.7    75  20.2  - 6.4    141    2.90  0.77
92  7.37    44  105.  18.2  - 7.4    141    2.55  0.65
93  7.36    45  87.3    20   -7.3   145.    4.28  1.23
94  7.29  53.6  69.3  17.7  - 9.9  136.4  .71.36  0.47

[95 rows x 8 columns]

In [11]:
null = (data.isnull().sum() > 0)
null[null == True]

Agravantes     True
Antibiotico    True
dtype: bool

In [12]:
data['Agravantes ']

0     IRA
1     NaN
2     IRA
3     NaN
4     NaN
     ...
90    NaN
91    NaN
92    NaN
93    NaN
94    IRA
Name: Agravantes , Length: 95, dtype: object

In [13]:
data['Antibiotico']

0               TRIFAMOX/CEFTRIAXONA/GENTAMICINA
1                         PIPERAZAM/METRONIDAZOL
2                                      PIPERAZAM
3           Ceftriaxon/Metronidazol/ Gentamicina
4                         Cefepime+ metronidazol
                         ...
90                                     Meropenem
91                                     Piperazam
92    Ceftriaxona -- Metronidazol -- Gentamicina
93                                   Ceftriaxona
94                         Ceftriaxona Amikacina
Name: Antibiotico, Length: 95, dtype: object

In [14]:
data.columns

Index(['Nombre y Apellidos', 'Fecha ingeso ', 'Fecha egreso ',
       'Estadia Hospitalaria', 'Estado del egreso', 'Edad', 'Sexo', 'Raza',
       'Ventilacion', 'APP', 'Sin antecedentes', 'Materna', 'HTA', 'DM', 'CI',
       'AB', 'EPOC', 'LES', 'Epilepsia', 'tiroides',
       'Consumidos de beidas alcolicas', 'Fumador', 'obesidad', 'DX Ingreso',
       'Apendicitis Aguda ', 'Patologias Biliares ', 'Diverticulitis',
       'Perforacion GASTRICA/duodenal', 'Peritonitis urinaria',
       'Pelvis peritonitis', 'Fuga de anastomosis',
       'peritonitis postraumatica', 'Cirugia de control de daño',
       'Cirugia tumoral', 'Abcedadas', 'OIMB', 'Cirugia de traumas',
       'Total de diagnosticos', 'Indice de mannheim', 'Apache al ingreso',
       'Agravantes ', 'Sin agravantes', 'IRA', 'FMO', 'Shock septico', ' ARDS',
       'Shock mixto', 'Disfunciòn Hepàtica', 'CID', 'TEP', 'HDA', 'TVP',
       'OTRAS', 'Valores de Gasometria', 'Trastorno metabòlico',
       'Acidosis metabòlica', 'Trastorno de Sodio', 'Trastornos del Potasio',
       'Trastornos del calcio', 'Antibiotico', 'Germen', 'CONTAMINADAS ',
       'PROTEUS', 'SCN', 'Pseudomona aeruginosa', 'klebsiella pn',
       'klebsiella/proteus', 'klebsiella/pseudomona',
       'klebsiella/Acynetobacter', 'E Coli ', 'Ecoli/enterobacter',
       'Ecoli/Pseudomona', 'E coli/proteus', 'E coli/Klebsiella',
       'Actinectobacter', 'Enterobacter', 'enterobacter/proteus',
       'Tipo de cirugia ', 'TIEMPO CIRUGIA INICIAL ', 'EXTRAHOSPITALARIA ',
       'NUMERO DE REINTERVENCIONES', 'NUMERO INTERVENCIONES',
       'Tiempo quirurgico', 'PH', 'PCO2', 'PO2', 'SB', 'EB', 'NA', 'K', 'CA'],
      dtype='object')

In [15]:
data.drop(columns=['Nombre y Apellidos', 'Fecha ingeso ', 'Fecha egreso ', 'Valores de Gasometria', 'Agravantes ', 'Sin agravantes', 'Disfunciòn Hepàtica', 'OTRAS', 'TVP', 'TEP', 'HDA', 'Germen', 'APP', 'Antibiotico', 'DX Ingreso'], axis=1, inplace=True)

In [16]:
data.columns = [col.strip() for col in data.columns]

In [17]:
data.columns

Index(['Estadia Hospitalaria', 'Estado del egreso', 'Edad', 'Sexo', 'Raza',
       'Ventilacion', 'Sin antecedentes', 'Materna', 'HTA', 'DM', 'CI', 'AB',
       'EPOC', 'LES', 'Epilepsia', 'tiroides',
       'Consumidos de beidas alcolicas', 'Fumador', 'obesidad',
       'Apendicitis Aguda', 'Patologias Biliares', 'Diverticulitis',
       'Perforacion GASTRICA/duodenal', 'Peritonitis urinaria',
       'Pelvis peritonitis', 'Fuga de anastomosis',
       'peritonitis postraumatica', 'Cirugia de control de daño',
       'Cirugia tumoral', 'Abcedadas', 'OIMB', 'Cirugia de traumas',
       'Total de diagnosticos', 'Indice de mannheim', 'Apache al ingreso',
       'IRA', 'FMO', 'Shock septico', 'ARDS', 'Shock mixto', 'CID',
       'Trastorno metabòlico', 'Acidosis metabòlica', 'Trastorno de Sodio',
       'Trastornos del Potasio', 'Trastornos del calcio', 'CONTAMINADAS',
       'PROTEUS', 'SCN', 'Pseudomona aeruginosa', 'klebsiella pn',
       'klebsiella/proteus', 'klebsiella/pseudomona',
       'klebsiella/Acynetobacter', 'E Coli', 'Ecoli/enterobacter',
       'Ecoli/Pseudomona', 'E coli/proteus', 'E coli/Klebsiella',
       'Actinectobacter', 'Enterobacter', 'enterobacter/proteus',
       'Tipo de cirugia', 'TIEMPO CIRUGIA INICIAL', 'EXTRAHOSPITALARIA',
       'NUMERO DE REINTERVENCIONES', 'NUMERO INTERVENCIONES',
       'Tiempo quirurgico', 'PH', 'PCO2', 'PO2', 'SB', 'EB', 'NA', 'K', 'CA'],
      dtype='object')

In [ ]:
import numpy as np

cols_to_clean = ['PO2', 'EB', 'K']

def clean_to_float(x):
    if pd.isna(x):
        return np.nan
    try:
        x = str(x).strip().replace(",", ".")
        x = x.replace("−", "-").replace("–", "-")
        return float(x)
    except:
        return np.nan


for col in cols_to_clean:
    data[col] = data[col].apply(clean_to_float)


print(data[cols_to_clean].dtypes)


for col in cols_to_clean:
    data[col].fillna(data[col].mean(), inplace=True)


print(data[cols_to_clean].isna().sum())

PO2    float64
EB     float64
K      float64
dtype: object
PO2    0
EB     0
K      0
dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_22428\713411501.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)

In [19]:
data.to_csv("data/processed/data.csv", index=False)